# Local Python environment
.venv/

# Python cache artifacts
__pycache__/
*.pyc

# Raw and processed datasets (never commit local data dumps)
data/raw/
data/processed/

# Compressed data artifacts
*.zip

# Local VS Code workspace settings
.vscode/

# Tagesschau crawl notebook outputs
data/experiments/tagesschau_crawl/data/raw/tagesschau/
data/experiments/tagesschau_crawl/data/raw/tagesschau/
BERTopic/outputs/rt_model
BERTopic/outputs/ts_model

mattis_eda.ipynb

.DS_Store
**/.DS_Store

.numba_cache/
.mplconfig/
.DS_Store
BERTopic/outputs/*.joblib
